/LucindaGUI/LucindaGUI/Debug
/LucindaGUI/Debug
/LucindaGUI/.vs/LucindaGUI/v14/.suo
/LucindaGUI/*.db
/LucindaGUI/LucindaGUI/~AutoRecover.LucindaGUI.vcxproj
/LucindaGUI/LucindaGUI/*.aps
/TableGenerator/.vs/TableGenerator/v14/*.suo
/TableGenerator/Debug/*.exe
/TableGenerator/Debug/*.ilk
/TableGenerator/Debug/*.log
/TableGenerator/Debug/*.obj
/TableGenerator/Debug/*.pch
/TableGenerator/Debug/*.pdb
/TableGenerator/Debug/TableGenerator.tlog/*.tlog
/TableGenerator/Debug/TableGenerator.tlog/*.lastbuildstate
/TableGenerator/Debug/*.txt
/TableGenerator/Debug/*.idb
/TableGenerator/*.opendb
/TableGenerator/*.db
/TableGenerator/ipch/TABLEGENERATOR-cdb90185/*.ipch
/LucindaGUI/*.bak
/LucindaGUI/*.depend
/LucindaGUI/bin
/LucindaGUI/obj
/LucindaGUI/*.layout
/LucindaGUI/*.save
*.save
/TableGenerator/x64/Debug
/LucindaGUI/x64/Debug
/LucindaGUI/Release
/LucindaGUI/*.user
